@import "../bootless/bootstrap";

@title-color: #ec6a1c;
@logo-color: #ea862e;
@logo-border-color: #d16200;
@logo-text-color: #ec890e;

@import "pizza/pizza-card";
@import "./order";

body {
  background: #fffff5;
  min-width: 410px;
  min-height: 330px;
}

a{
  text-decoration: none!important;
}

.wrap {
  padding-right: 335px;
  padding-top: 80px;
  margin-left: 10px;

  .row {
    width: 100%;
    padding-right: 7px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .pizza-types {
    padding-left: 15px;
    padding-right: 23px;
    margin: auto;
    width: 100%;
    text-align: center;

    a {
      color: @logo-text-color;
    }

    .nav {
      display: inline-block;
    }
  }

  .menu {
    text-align: center;
    position: relative;

    .pizza-count {
      background: @logo-text-color !important;
      min-width: 9px;
      padding: 2px 7px;
      line-height: 1em;
      text-align: center;
      border-radius: 500rem;
      font-weight: 600;
      color: white;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }
}

.top-panel {
  position: fixed;
  width: 100%;
  height: 84px;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .8);
  border-bottom: 1px solid;

  .site-icon {
    position: fixed;
    left: 9px;
    padding: 10px;
    padding-top: 15px;
    width: 100px;
    height: 90px;
    background: @logo-color;
    border-left: 1px solid @logo-border-color;
    border-right: 1px solid @logo-border-color;

    .site-logo {
      text-align: center;
      color: white;

      .kma-logo {
        font-size: 25px;
      }

      .pizza-logo {
        font-size: 19px;
      }
    }

    .rozhki {
      height: 11px;
      width: 100px;
      top: 89.5px;
      left: -.5px;
      transform: scaleY(-1);
      position: absolute;
      background-image: url(../images/discount.svg);
      background-size: 100px, 11px;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .top-panel-items {
    padding-left: 130px;
    color: #a1a1a1;

    .first-line {
      border-bottom: 1px solid rgb(161, 161, 161);
      line-height: 11px;
      padding-bottom: 14px;
      margin-right: 350px;
      margin-top: 15px;
      position: relative;

      .enter-button {
        position: absolute;
        top: -11px;
        right: 0px;
        box-sizing: border-box;
      }
    }

    .second-line {
      color: white;
      font-size: 16px;
      margin-top: 10px;
      padding-bottom: 9px;
    }
  }

  .top-header-item {
    padding-right: 30px;

    &.phone-number {
      font-size: 20px;
    }

    &.open-hours {
      font-size: 12px;
    }

    &.free-delivery {
      font-size: 16px;
    }
  }
}

.sale-label {
  position: fixed;
  bottom: 0;
  left: 9px;
  background: @logo-color;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid @logo-border-color;
  padding: 10px;
  padding-top: 15px;
  width: 100px;
  text-align: center;

  .sale-rozhki {
    height: 11px;
    width: 100px;
    top: -11px;
    left: -.5px;
    position: absolute;
    background-image: url(../images/discount.svg);
    background-size: 100px, 11px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .sale-slogan {
    padding-bottom: 4px;
    border-bottom: 2px dotted #d16301;
  }

  .sale-discount {
    padding-top: 5px;
  }
}

.cart {
  position: fixed;
  right: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-width: 330px;
  width: 330px;
  height: 100%;
  background: white;
  z-index: 5;
  box-shadow: rgba(0,0,0,.2) -3px 3px 10px;

  .order {
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    width: 330px;
    padding-top: 33px;
    padding-bottom: 27px;
    z-index: 4;

    .order-label {
      padding-bottom: 15px;

      .title {
        font-size: 20px;
        line-height: 17px;
        padding-left: 15px;
        font-weight: 700;
      }

      .left-count-label {
        background: @logo-text-color !important;
        min-width: 10px;
        padding: 2px 7px;
        line-height: .8em;
        text-align: center;
        border-radius: 500rem;
        font-weight: 700;
        color: white;
      }
    }

    .clear-order {
      margin-top: -5px;
      font-size: 10px;
      padding-left: 45px;
      color: rgba(0, 0, 0, .5);
      cursor: pointer;
    }

  }

  .order-list {
    background: #f8f8f8;
    margin-top: 15px;
    height: 100%;
    display: block;
    overflow: scroll;
    padding-top: 70px;
    padding-bottom: 127px;

    .empty-cart {
      text-align: center;
      padding-top: 50px;
      color: #4e4e4e;
      font-size: 16px;
    }

    .ordered-pizza {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, .1);

      .order-image {
        position: absolute;
        right: -48px;
        width: 96px;
        height: 96px;
      }

      .pizza-order-title {
        color: @logo-text-color;
        font-size: 20px;
        padding: 10px;
        padding-left: 20px;

      }

      .order-details {
        font-size: 12px;
        padding-left: 25px;

        span {
          padding-right: 10px;
        }

        img {
          display: inline-block;
          height: 10px;
          width: 9px;
        }
      }

      .order-actions {
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 25px;
        padding-bottom: 20px;

        .price {
          color: black;
          font-size: 14px;
          font-weight: 700;
          padding-right: 15px;
        }

        .quantity {
          color: black;
          font-size: 14px;
          font-weight: 700;
          padding: 8px;
        }

        .round-button {
          border-radius: 15px;
          height: 30px;
          width: 30px;
          text-align: center;
          position: relative;
          padding: 2px;
        }

        .plus-button, .minus-button, .delete-button {
          font-weight: 400;
          font-size: 12px;
        }

        .delete-button {
          color: @logo-text-color;
          margin-left: 30px;
        }
      }
    }
  }

  .buy-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    width: 330px;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);

    span {
      color: #333;
      font-weight: 700;
      font-size: 15px;
    }

    .order-price-money {
      position: fixed;
      font-size: 20px;
      margin-left: 80px;
      bottom: 87px;
    }

    .order-price-title {
      padding: 3px;
    }

    .order-button {
      padding: 20px;
    }
  }
}

@media (max-width: 800px) {

  .top-panel-items {
    padding-left: 115px !important;

    .first-line {
      margin-right: 335px !important;
    }
  }

}

@media (max-width: 700px) {

  .top-panel {
    height: 70px;

    .phone-number {
      font-size: 14px !important;
    }
  }

  .enter-button {
    top: 20px !important;
  }

  .first-line {
    height: 9px;
    padding-bottom: 7px;
    margin-top: 10px !important;
  }
}
