<% include common/header.ejs %>

<div class="cart">
    <div class="order">
        <span class="order-label">
            <span class="title">Замовлення</span>
            <span class="left-count-label">4</span>
        </span>
    </div>
    <div id="ordered" class="order-list">
    </div>
    <div class="buy-panel">
        <span class="order-price-title">Сума замовлення</span>
        <span class="order-price-money">грн</span>
        <div class="order-button">
            <button class="btn btn-lg btn-default btn-block order-edit-button">Редагувати замовлення</button>
        </div>
    </div>
</div>

<% include common/footer.ejs %>