<div class="panel-footer">
    <p>KMA-Pizza - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>Доки ми не знайшли кухара, доставка не здійснюється :(</p>
</div>

<div class="sale-label">
    <div class="sale-rozhki"></div>
    <div class="sale-slogan">ЦЬОГО ТИЖНЯ
        НА ВСЕ
    </div>
    <div class="sale-discount">-20%</div>
</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>