<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>
<div class="top-panel">
    <a class="site-icon" href="../mainPage.ejs">
        <div class="site-logo">
            <div class="pizza-logo">PIZZA</div>
            <div class="kma-logo">KMA</div>
        </div>
        <div class="rozhki"></div>
    </a>
    <div class="top-panel-items">
        <div class="first-line">
            <div class="top-header-item visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block phone-number">
                (044) 222 5 222
            </div>
            <div class="top-header-item visible-lg-inline-block visible-md-inline-block open-hours">
                24 години/ 7 днів на тиждень
            </div>
            <div class="top-header-item visible-lg-inline-block free-delivery">
                Безкоштовна доставка піци
            </div>
            <a href="#"
               class="btn btn-warning visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block enter-button">Ввійти</a>
        </div>
        <div class="second-line">
            <span class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block top-panel-pizza-ahref">Піца</span>
        </div>
    </div>
</div>

