.pizza-card {
  margin-top: 30px;
  height: auto;
  padding: 6px;
  max-height: 100%;
  box-sizing: border-box;
  position: relative;

  img {
    max-width: 300px;
    width: 100%;
  }

  h3 {
    color: @title-color;
    font-weight: 600;
    background-color: lighten(white, 45%);
  }

  .new-pizza, .popular-pizza{
    position: absolute;
    top: -10px;
    right: -17px;
    font-size: 18px;
    height: 27px;
  }

  .new-pizza {
    width: 67px;
  }

  .popular-pizza{
    width: 120px;
  }

  .caption {
    height: 100%;
    box-sizing: border-box;

    .pizza-type {
      color: #a3a0a0;
      font-size: 12px;
      margin-bottom: 3px;
    }

    .size-weight-buy {
      height: 150px;
      box-sizing: border-box;
      line-height: 17px;
      width: 100%;
      position: relative;
      display: block;

      img {
        height: 13px;
        width: 12px;
      }
    }

    .small-pizza {
      float: left;
      display: inline-block;
    }

    .big-pizza {
      float: right;
      display: inline-block;
    }

    .small-pizza, .big-pizza {
      text-align: center;

      .pizza-size, .pizza-weight {
        margin: 2px;
      }

      .pizza-price {

        p {
          margin-top: -11px;
        }
      }

      .size, .weight {
        margin: 2px;
      }
    }
  }

}


.cart {
  position: fixed;
  right: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-width: 330px;
  width: 330px;
  height: 100%;
  background: white;
  z-index: 5;

  .order {
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    width: 330px;
    padding-top: 33px;
    padding-bottom: 27px;

    .order-label {
      padding-bottom: 15px;

      .title {
        font-size: 20px;
        line-height: 17px;
        padding-left: 15px;
        font-weight: 700;
      }

      .left-count-label {
        background: #ec890e !important;
        min-width: 10px;
        padding: 3px 7px;
        line-height: 1em;
        text-align: center;
        border-radius: 500rem;
        font-weight: 700;
        color: white;
      }
    }

    .clear-order {
      margin-top: -5px;
      font-size: 10px;
      padding-left: 45px;
      color: rgba(0, 0, 0, .5);
    }

  }

  .order-list {
    background: #F5F5F5;
    margin-top: 15px;
    height: 100%;
    display: block;
    overflow: scroll;
  }

}

